<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Todo</title>
</head>
<body>
   <h1>Accounts</h1>
   <hr />
   <ul>
      {% for account in accounts  %}
         <li>{{ account.text }}</li>
	 <li>{{ account.phone_number }}</li>
	 <li>{{ account.email }}</li>
      {% endfor  %}
   </ul>
   <hr />
</body>
</html>
